

footer{
  min-height: 5vh;
}

body{
  background:white;
  color: black;
  size: 150%;
  margin:5%;

}

nav a{
  font-family: Verdana;
  color: #800000;
}

a.current{
  color:black;
  font-size: 20px;
}

h1{
  font-size: 30px;
}

h3{
  font-size: 25px;
  text-align: center;
}

.country{
  color: #800000;
}

a.skip{
  position:relative;
  left: -200px;
}

a.skip:focus{
  left: 10px;
  border: 2px solid black;
}

.italyimage {
    width: 200px;
    height: auto;
}

.post-container {
    margin: 20px 20px 0 0;
    overflow: auto;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
}
.post-content {
    margin-left: 210px;
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

.worldmap {
    width: 200px;
    height: auto;
}



div{
  display:inline-block;
  text-align:center;
}

.container{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 40px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
